body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px; /* Taille du logo à ajuster selon vos besoins */
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    }
    nav ul li a :hover{
        color: #007bff;
    }

nav form {
    display: flex;
    align-items: center;
}

nav form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

nav form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    
}

nav form button:hover {
    background-color: #0056b3;
}

main {
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.service {
    text-align: center;
    margin-bottom: 40px;
}

.service img {
    width: 200px; /* Taille des images à ajuster selon vos besoins */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

section {
    margin-bottom: 50px;
}

nav ul li:last-child {
    margin-left: auto;
}